<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pictures</title>
  <style>
    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    img {
      height: auto;
      margin: 10px;
    }
  </style>
</head>
<body>
  <div class="image-container">
    <!-- Adding inline style to make the image smaller -->
    <img src="static/christmas.jpeg" alt="Christmas" style="max-width: 30%; max-height: 300px;">
    <img src="static/lighthouse.jpg" alt="Lighthouse">
    <img src="static/gaming.jpeg" alt="Gaming">
  </div>
</body>
</html>
